* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", serif;
}

:root {
  --blue: #0abde3;
  --main: #130f40;
  --white: #ffffff;
  --black: #000000;
  --light-color: #666;
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
  background: var(--main);
}
.btn:hover {
  background: var(--blue);
  color: #fff;
}
.heading {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 20px;
  font-size: 35px;
  color: var(--main);
}
.heading span {
  position: relative;
  z-index: 0;
}
.heading span::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--blue);
  clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
  z-index: -1;
}

/*nav section start*/
nav {
  position: relative;
  width: 100%;
  z-index: 9;
}

.nav-header {
  padding: 0.75rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main);
}

.nav-logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  padding: 0;
  margin: 0;
}

.nav-logo h1 span {
  color: var(--blue);
  font-size: 1.5rem;
}

.nav-menu-btn {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.nav_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--blue);
  transition: transform 0.5s;
  z-index: -1;
  cursor: pointer;
}

.nav_links a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
}

.nav_links.open {
  transform: translateY(100%);
}

/*nav section end*/

/*home section start*/
.home {
  padding: 50px 10% 50px;
}
.home .home-img img {
  width: 100%;
}
.home .home-detail {
  padding-top: 50px;
}
.home .home-detail h3 {
  color: var(--main);
  text-transform: capitalize;
  font-size: 35px;
  line-height: 1.8;
  font-weight: 700;
}
.home .home-detail p {
  color: var(--light-color);
  font-size: 15px;
  line-height: 1.8;
  padding: 10px 0;
}

/*home section end*/

/*about section start*/
.about {
  padding: 50px 10% 50px;
}
.about .about-img img {
  width: 100%;
}
.about .about-content {
  margin-top: 50px;
}
.about .about-content h3 {
  color: var(--main);
  text-transform: capitalize;
  font-size: 35px;
  line-height: 1.8;
  font-weight: 700;
}
.about .about-content p {
  color: var(--light-color);
  font-size: 15px;
  line-height: 1.8;
  padding: 10px 0;
}

/*about section end*/

/*service section start*/
.services {
  padding: 80px 0;
}
.services .services-box {
  text-align: center;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 10px 15px;
}
.services .services-box img {
  height: 170px;
}
.services .services-box h3 {
  font-size: 22px;
  text-transform: capitalize;
  color: var(--main);
  font-weight: 600;
  margin-top: 15px;
}
.services .services-box p {
  font-size: 12px;
  color: var(--light-color);
  padding-top: 10px;
}
/*service section end*/

/*plan section start*/
.plan {
  padding: 80px 0;
}
.plan .plan-box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  text-align: center;
  padding: 20px 10px;
  margin-top: 10px;
}
.plan .plan-box h3 {
  font-size: 22px;
  color: var(--main);
  text-transform: capitalize;
}
.plan .plan-box img {
  height: 170px;
}
.plan .plan-box h4 {
  font-size: 40px;
  color: var(--main);
  font-weight: bolder;
}
.plan .plan-box span {
  font-size: 15px;
  font-weight: normal;
}
.plan .plan-box ul {
  padding: 10px 0;
  list-style: none;
}
.plan .plan-box ul li {
  font-size: 15px;
  padding: 10px 0;
  color: var(--light-color);
  text-transform: capitalize;
}
.plan .plan-box ul li i{
    color: var(--blue);
    margin-right: 10px;
    font-size: 15px;
}

/*plan section end*/

/*review section start*/
.review {
  padding: 80px 0;
}
.review .single-box {
  padding: 50px 30px 40px;
  border-radius: 20px;
  background: #fff;
}
.review .single-box .img-area {
  margin: 45px 0 20px;
  width: 30%;
  float: left;
  margin: 0;
}
.review .single-box .img-area img {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.review .single-box .content {
  overflow: hidden;
  padding-left: 10px;
}
.review .single-box .content p {
  margin: 10px 0 25px;
  line-height: 1.8;
  font-size: 15px;
  font-style: italic;
} 
.review .single-box .content h4 {
  font-weight: 600;
  margin: 0;
  font-size: 18px;
  color: var(--blue);
}
.review .single-box .content h6 {
  font-size: 13px;
  margin-top: 10px;
  color: var(--light-color);
}

.owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  text-align: center;
  width: 100%;
}
.owl-dot {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  display: inline-block;
  margin: 0 6px;
  text-align: center;
  border-radius: 2px;
}
.owl-dot.active {
  background-color: var(--main);
}
/*review section end*/

/*contact section start*/
.contact {
  padding: 80px 0;
}
.contact .contact-img img {
  width: 100%;
}
.contact h3 {
  font-size: 20px;
  color: var(--main);
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}
.contact .Contactform {
  width: 100%;
  box-shadow: var(--box-shadow);
  background: #efefef;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}
.contact .Contactform input {
  padding: 10px 15px;
}
.contact .Contactform textarea {
  padding: 12px 15px;
}
.contact .Contactform input,
.contact .Contactform textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 13px;
  opacity: 0.8;
}
/*contact section end*/

/*footer section start*/
.footer {
  padding: 30px 10% 0px;
}
.footer .share {
  padding: 10px 0;
}
.footer .share a {
  color: var(--main);
  font-size: 30px;
  margin: 8px;
}
.footer .share a:hover {
  color: var(--blue);
}
.footer .credit {
  padding: 5px;
  margin-bottom: -15px;
  font-size: 15px;
  color: var(--main);
}
.footer .credit .fas {
  color: var(--blue);
}
/*footer section end*/

/*scroll to top start*/
#scroll-to-top {
  background: var(--main);
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
  display: none;
}
#scroll-to-top:hover{
    background-color: var(--blue);
}
/*scroll to top end*/

/*media query start*/
@media (width > 900px) {
  nav {
    padding: 0.5rem 4rem;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .nav-header {
    flex: 1;
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .nav-logo h1 {
    font-size: 2.1rem;
    color: var(--black);
  }

  .nav-logo h1 span {
    color: var(--blue);
    font-size: 1.5rem;
  }

  .nav-menu-btn {
    display: none;
  }

  .nav_links {
    position: static;
    width: fit-content;
    padding: 0;
    margin: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav_links a {
    color: var(--black);
  }

  .nav_links a:hover {
    color: var(--blue);
  }
}

@media (max-width: 768px) {
  .home {
    display: block;
  }
  .home .home-detail {
    padding: 0;
  }
  .about .about-content {
    margin: 0;
  }
  .review .single-box .img-area {
    float: none;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .about .about-content h3 {
    font-size: 25px;
  }
}
/*media query end*/
